/* #navbarNav{
            display: flex;
            flex-direction: row-reverse;
        } */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
    
body {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    overflow: auto;
    overscroll-behavior: none;
}
.overlay-grain{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color:rgb(172, 169, 169);
    opacity: 0.9;
}

.overlay-grain img{
    width: 100vw;
    height: 100vh;
}

.navBar {
    padding: 20px;
}
.navBar section ul{
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.navBar-logo {
    text-decoration: line-through;
    color: black;
}

.navigation-options {
    list-style: none;

}

.name {
    margin-top: 100px;
    margin-inline: 30px;
    color: black;
}

.base-text {
    margin-inline: 30px;
    color: black;
}

.description {
    font-size: 4rem;
    margin: 100px 25px;
}

.description h1{
    width: 100%;
}



#home{
    width: 100vw;
}
#main {
    width: 100%;
    height: 650px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

#center {
    width: 100%;
    height: 100%;
    overflow: hidden;  
    display: flex;
    justify-content: center;
    align-items: center;  
}

.imagecontainer {
    
    overflow: hidden;
    width: 0%;
    height: 80%;
    position: absolute;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

img {
    height: 100%;
}

#one{
    color: black;
}
#two{
    color: red;
}
#three{
    color: black;
}
#four{
    color: rgb(255, 200, 0);
}

.text h1 {
    
    font-size: 6vw;
    position: absolute;
    text-decoration: underline line-through;
    text-shadow: 0 0 3px #372c2c, 0 0 5px rgb(208, 191, 191);
}

#PROJECT {
    margin-top: 500px;
    display: flex;
    align-items: center;
    height: 100px;
    color: rgb(255, 230, 4);
}

.heading {
    position: absolute;
    right: 20%;
    font-size: 6vw;
    text-shadow: 0 0 3px #372c2c, 0 0 5px rgb(208, 191, 191);
}

.logo-project {
    display: flex;
    position: absolute;
    left: 85%;
    align-items: center;
}

.logo-project svg {
    position: absolute;
    display: block;
    height: 80px;
    width: 80px;
}

.second-animation {
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 100px;
    height: 1000px;
    width: 100%;
    background-color: transparent;
    overflow: hidden;
}
.second-animation p{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family:'Poppins', sans-serif;
    font-weight: 900;
    font-size: 10vw;
    text-align: center;
    box-shadow: 10px 10px 8px #888888;
    opacity: 0.8;
}
#scroll1 {
    top: 25%;
    /* left: -20%; */
    transform: rotate(8deg);
    position: absolute;
    line-height: 1;
    background-color: white;
    color: black;
    white-space: nowrap;
}

#scroll2 {
    transform: rotate(-1deg);
    top: 34%;
    position: absolute;
    line-height: 1;
    background-color: white;
    color: black;
    white-space: nowrap;
}

#scroll3 {
    transform: rotate(3deg);
    top: 54%;
    position: absolute;
    line-height: 1;
    background-color: white;
    color: black;
    white-space: nowrap;
}

#scroll4 {
    top: 70%;
    transform: rotate(-12deg);
    position: absolute;
    line-height: 1;
    background-color: white;
    color: black;
    white-space: nowrap;
}
#scroll5 {
    top: 70%;
    transform: rotate(-4deg);
    position: absolute;
    line-height: 1;
    background-color: white;
    color: black;
    white-space: nowrap;
}

.blank{
    width: 100vw;
    height: 30rem;
    display: flex;
    flex-flow: column;
    justify-content: center;
    margin-bottom: 200px;
    align-items: center;
}
.blank svg{
    display: block;
    margin: auto;
    height: 100px;
    width: 100px;
}
.blank h1{
    display: block;
    margin: auto;
    font-size: 6vw;
    color: red;
}

@media only screen and (max-width: 947px) {
    .description{
        font-size: 3rem;
    }
}
@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
    .description{
        width: 20rem;
        font-size: 2rem;
    }
    .second-animation{
        width: 100%;

    }
    .navigation-options li a{
        width: 0%;
    }
    .blank{
        width: 6rem;
        margin: auto;
    }
    .overlay-grain{
        width: 110vw;
        height: 110vh;
    }    
}